/* #nav 
{
	width: 650px;
	height: 38px;
} */
#nav ul
{
	list-style-type: none;
	text-align: left;
	padding: 0px;
	margin: 0px;
	background-color:#169;
}
#nav li
{
	display: inline-block;
	font-size:1.2em;
	line-height: 40px;
	font-family: Helvetica,Arial,sans-serif;
	margin-right: -5px;
}
#nav a
{
	text-decoration: none;
	color: #EEE;
	transition: .3s background-color;
	display: block;
	padding: 0px 20px;
}
#nav a:hover
{
	color: #EEE;
	background-color: #39C;
}